.kategori-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kategori-header a {
  background: green;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}

th {
  background: #4a7bd0;
  color: white;
  padding: 12px;
  text-align: center;
}


th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #eee;
}


tr:last-child td {
  border-bottom: none;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

button {
  margin: 0 4px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:first-child {
  background: #3b82f6;
  color: white;
}

button:last-child {
  background: #ef4444;
  color: white;
}

.pagination {
  margin-top: 16px;
  display: flex;
  gap: 6px;
}

.btn-page {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.btn-page:disabled {
  background: #4a7bd0;
  color: white;
}
